<div id="active-div" class="container-fluid" [ngStyle]="{'visibility': isVisible ? 'visible' : 'hidden'}">
    <div id="etape-un" class="container">
        <h1>La configuration</h1>
        <p>La configuration est typiquement le choix des pièces à mettre dans votre ordinateur. Cette une étape cruciale qui dépend de plusieurs facteurs : </p>
        <ul>
            <li>
                <h4>Votre utilisation</h4>
                <p>Que faites-vous avec votre ordinateur ? Du jeux ? De la bureautique ? Du traitement d'images ou de videos ? Du stream ? ...</p>
            </li>
            <li>
                <h4>Votre budget</h4>
                <p>Certaines utilisations nécessitent un budget minimum. Il sera important pous vous de définir clairement votre budget pour realiser une configuration adaptées à vos besoins.</p>
            </li>
            <li>
                <h4>Le matériel que vous avez déjà</h4>
                <p>Il ne sera pas nécessairement obligatoire de tout racheter. Certaines pièces peuvent être récupérées, prenons l'exemple des périphériques, vous pourrez toujours utiliser votre clavier, votre souris, votre écran, votre micro/casque ou encore vos enceintes.</p>
            </li>
        </ul>
        <p>En me communiquant ces informations, je serai en mesure de réaliser une configuration personnalisée qui sera adaptée à vos besoins tout en restant dans votre budget.</p>
    </div>
</div>
