<div id="first-block" class="container-fluid">
    <div class="row">
        <div id="div-img" class="col col-xl-6 col-md-6 col-sm-6">
            <fa-icon id="img-1" [icon]='faThumbsUp'></fa-icon>
        </div>
        <div id="div-text" class="col col-xl-3 col-md-4 col-sm-4">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos distinctio obcaecati neque alias nobis eveniet reprehenderit corrupti! Corporis temporibus vitae, rem non sit, natus vel assumenda dolores eligendi, quam et.
        </div>
    </div>
</div>
