<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div id="element1" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h2>Monter son propre pc, une longue histoire...</h2>
        <p>
          Monter <b>votre propre pc</b> vous a sûrement déjà traversé l'esprit.
          Mais vous avez probablement après réflexion trouvé ça
          <b>compliqué</b>.
          <br />
          <br />
          Ca demande des <b>connaissances</b> et de <b>l'expérience</b>. Surtout
          que <b>les erreurs peuvent vous couter très cher</b> pour n'avoir au
          final qu'un tas de pièces détachées qui ne vont pas ensemble ou qui ne
          sont pas du tout adaptées à vos besoins.
        </p>
      </div>
      <div id="element2" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h2>Votre propre configuration ?</h2>
        <p>
          Vous avez peut être essayé de faire <b>votre propre ordinateur</b>, en
          faisant une configuration sur les sites revendeurs connus.
          <br />
          <br />
          Mais là encore, n'ayant pas ou peu de connaissances dans le domaine,
          vous vous êtes demandés si vous aviez choisi <b>les bonnes pièces</b>,
          si elles étaient <b>compatibles</b>, si elles
          <b>correspondraient à l'utilisation que vous voulez en avoir</b>.
        </p>
      </div>
      <div id="element3" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h2>Les PC tout faits en magasin</h2>
        <p>
          Vous vous êtes donc résolu à aller dans un grand magasin et à acheter
          <b>un pc tout fait</b>, prêt à l'emploi, après tout, c'est plus simple
          et plus rapide.
          <br />
          <br />
          Vous avez probablement été conseillé par un <b>vendeur</b> qui vous a
          convaincu que la belle machine en face de vous était idéale. Que vous
          n'aviez qu'à la ramener chez vous, l'installer sur votre bureau et
          commencer à l'utiliser.
          <br />
          <br />
          Quelle mauvaise surprise de voir que vos programmes ou vos jeux n'ont
          bien tourné que <b>pendant quelques mois</b> (si ils ont bien tourné).
          <br />
          <br />
          Seulement maintenant, vous le savez, cette méthode
          <b>vous fait payer beaucoup trop cher</b> pour ce que c'est.
        </p>
      </div>
      <div id="element4" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <h2>Pourtant c'est possible</h2>
        <p>
          Et pourtant, on a tous vu des photos de magnifiques bureaux, avec
          <b>des pc montés à la main qui en jettent</b>.
          <br />
          <br />
          On a tous vu des joueurs sur des <b>machines incroyables</b>, qui
          peuvent profiter des jeux à leur <b>plein potentiel</b>, en
          <b>qualité ultra</b> avec une <b>fluidité</b> maximale.
          <br />
          <br />
          Ces ordinateurs là, <b>vous ne les trouverez pas en magasin</b>. Et si
          vous êtes capables d'en réaliser un par vous-même, le service que je
          vais vous proposer ne vous intéressera probablement pas.
        </p>
      </div>
    </div>
  </div>
</div>
