<div id="first-block">
    <div class="container">
        <div class="row">
            <div class="col" class="col-xl-6 col-md-6 col-sm-12 col-xs-12"><app-my-card [backgroundColor]="'#272343'" [titleColor]="'#f0f0f0'" [customTitle]="'Ipsum'">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores porro, nam cumque rem error, facilis quisquam est iusto ipsam corrupti delectus suscipit dignissimos neque consequatur officiis omnis sint laudantium ut.
            </app-my-card></div>
            <div class="col" class="col-xl-6 col-md-6 col-sm-12 col-xs-12"><app-my-card [backgroundColor]="'#272343'"></app-my-card></div>
            <div class="col" class="col-xl-6 col-md-6 col-sm-12 col-xs-12"><app-my-card [backgroundColor]="'#272343'"></app-my-card></div>
            <div class="col" class="col-xl-6 col-md-6 col-sm-12 col-xs-12"><app-my-card [backgroundColor]="'#272343'"></app-my-card></div>
        </div>
    </div>
</div>


